
[submodule "fonts/JetBrainsMono"]
	path = fonts/JetBrainsMono
	url = https://github.com/JetBrains/JetBrainsMono
	ignore = dirty
[submodule "vim-plug"]
	path = vim-plug
	url = https://github.com/junegunn/vim-plug
	ignore = dirty
[submodule "colorschemes/Zenburn"]
	path = colorschemes/Zenburn
	url = https://github.com/jnurmine/Zenburn
	ignore = dirty
[submodule "colorschemes/candle-grey"]
	path = colorschemes/candle-grey
	url = https://github.com/aditya-azad/candle-grey
	ignore = dirty
[submodule "colorschemes/vim-yin-yang"]
	path = colorschemes/vim-yin-yang
	url = https://github.com/pgdouyon/vim-yin-yang
	ignore = dirty
