* {
	border: none;
	font-family: JetBrainsMonoNL Nerd Font Propo;
	font-size: 24px;
	/*color: #ffffff;*/
}

window {
	/*font-weight: bold;*/
}

window#waybar {
	background-color: transparent;
	/*background-color: rgba(34, 36, 54, 0.4);*/
}

window#waybar.hidden {
	opacity: 0.2;
}

.modules-center {}

#workspaces {
	/*background-color: rgba(0, 0, 0, 0.5);*/
	background-color: rgba(34, 36, 54, 0.5);
	border-radius: 10px;
	margin: 2px 6px;
	padding: 0px 0px;
}

#workspaces button {
	color: #b5e8e0;
	background-color: transparent;
	padding: 4px 10px;
	transition: color 0.3s ease, text-shadow 0.3s ease, transform 0.3s ease;
}

#workspaces button.occupied {
	color: #a6e3a1;
}

#workspaces button.active {
	color: #89b4fa;
	text-shadow: 0 0 4px #abe9b3;
}

#workspaces button:hover {
	color: #89b4fa;
}

#workspaces button.active:hover {}

