
* {
	border: none;
	border-radius: 10px;
}

window {
	font-family: JetBrainsMonoNL Nerd Font Propo;
	font-size: 20px;
	background-color: rgba(34, 36, 54, 0.9);
	color: #b5e8e0;
	/*border-bottom: 3px solid #ffffff;*/
}

#entry {
	padding: 0.25em;
}

#entry:selected {
	background-color: #bbccdd;
	background: linear-gradient(90deg, #bbccdd, #a6e3a1);
}

#text:selected {
	color: #89b4fa;
}

#input {
	background-color: rgba(34, 36, 54, 0.5);
	color: #ffffff;
	padding: 0.25em;
}

image {
	margin-left: 0.25em;
	margin-right: 0.25em;
}
